.custom-slider {
    height: 600px;
    transition: all 1s;
    opacity: 1;
}
.custom-slider.is--invisible  {
        overflow: hidden;
        opacity: 0;
        height: 1px;
        transition: all 1s;
}
.custom-slider.slider-final {
    height: 100px;
}
@media all and (max-width:767px){
    .custom-slider {
        height: 880px;
    }
    .box-slider ul{
        grid-template-columns: 1fr;
    }
    .box-slider ul li {
        display: grid;
        grid-template-columns: 1fr 2fr;
        text-align: left;
    }
    .box-slider ul li * {
        text-align: left;
    }
}